<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">
    <%- include('partials/header', { title: 'Danh sách bảng lương' , baseUrl: '' }) %>

        <div id="wrapper">
            <%- include('partials/sidebar', { activeMenu: 'payroll' , baseUrl: '' }) %>


                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('partials/topbar', { baseUrl: '' }) %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Bảng Lương Thuyền Viên</h1>
                                </div>

                                <ul class="nav nav-tabs mb-3" id="mainTabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a href="/danh-sach-thuyen-vien-luong" class="nav-link" id="crew-tab"
                                            data-bs-toggle="tab" data-bs-target="#crew" type="button" role="tab">
                                            Thuyền viên đang trên tàu
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="/danh-sach-bang-luong" class="nav-link active" id="salary-tab"
                                            data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab">
                                            Bảng lương
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade" id="crew" role="tabpanel">
                                        Nội dung thuyền viên...
                                    </div>

                                    <div class="tab-pane fade show active" id="salary" role="tabpanel">
                                        <div class="card shadow">
                                            <div
                                                class="card-header py-3 d-flex justify-content-between align-items-center">
                                                <h6 class="m-0 font-weight-bold text-primary">Bảng lương chi tiết</h6>

                                                <div class="d-flex align-items-center ">
                                                    <button class="btn btn-primary btn-sm mr-2"
                                                        onclick="openEditLuong('<%= dataTable.id_bangluong %>', '<%= dataTable.luongcb %>', '<%= dataTable.tigia %>', '<%= dataTable.tongtien %>', '<%= dataTable.phuongthuc %>')">Cập
                                                        nhật lương</button>
                                                    <button class="btn btn-secondary btn-sm mr-2"
                                                        onclick="openEditNganHang('<%= dataTable.id_bangluong %>', '<%= dataTable.thuyenvien_id %>', '<%= dataTable.thuyenvien?.taikhoannganhang?.tennganhang %>', '<%= dataTable.thuyenvien?.taikhoannganhang?.stk %>', '<%= dataTable.thuyenvien?.taikhoannganhang?.tentaikhoan %>')">Cập
                                                        nhật ngân hàng</button>
                                                    <% if (dataTable.tinhtrang==='Chưa thanh toán' ) { %>
                                                        <form method="POST" action="/xuly-thanhtoan"
                                                            onsubmit="return thanhToan()">
                                                            <input type="hidden" name="bangluong_id"
                                                                value="<%= dataTable.id_bangluong %>">
                                                            <button class="btn btn-danger btn-sm" type="submit">Thanh
                                                                toán</button>
                                                        </form>
                                                        <% } else { %>
                                                            <form method="POST" action="/xuly-thanhtoan"
                                                                onsubmit="return huyThanhToan()">
                                                                <input type="hidden" name="bangluong_id"
                                                                    value="<%= dataTable.id_bangluong %>">
                                                                <button class="btn btn-danger btn-sm mr-2"
                                                                    type="submit">Hủy
                                                                    thanh
                                                                    toán</button>
                                                            </form>
                                                            <% } %>

                                                                <!-- Modal edit Lương -->
                                                                <div class="modal fade" id="editModalLuong"
                                                                    tabindex="-1" role="dialog">
                                                                    <div class="modal-dialog" role="document">
                                                                        <form id="editLuongForm" action="/put-bangluong"
                                                                            method="POST">

                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5
                                                                                        class="modal-title text-primary">
                                                                                        Cập nhật bảng lương
                                                                                    </h5>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal">&times;</button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <input type="hidden"
                                                                                        id="editIdLuong"
                                                                                        name="id_bangluong">
                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="text-primary">Lương
                                                                                            cơ bản</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-int"
                                                                                            id="editLuongCB"
                                                                                            name="luongcb" maxlength="5"
                                                                                            required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="text-primary">Tỉ
                                                                                            giá</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-int"
                                                                                            id="editTiGia" name="tigia"
                                                                                            maxlength="5" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="text-primary">Tổng
                                                                                            lương</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-int"
                                                                                            id="editTongTien"
                                                                                            name="tongtien"
                                                                                            maxlength="9" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="text-primary">Phương
                                                                                            thức</label>
                                                                                        <select class="form-control"
                                                                                            id="editPhuongThuc"
                                                                                            name="phuongthuc" required>
                                                                                            <option>Ngày xuất cảnh
                                                                                            </option>
                                                                                            <option>Ngày lên tàu
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary">Cập
                                                                                        nhật</button>
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Đóng</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                                <!-- Modal edit Ngân Hàng -->
                                                                <div class="modal fade" id="editModalNganHang"
                                                                    tabindex="-1" role="dialog">
                                                                    <div class="modal-dialog" role="document">
                                                                        <form id="editNganHangForm"
                                                                            action="/put-nganhang" method="POST">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5
                                                                                        class="modal-title text-primary">
                                                                                        Cập nhật ngân hàng</h5>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal">&times;</button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <input type="hidden"
                                                                                        id="editIdLuongNH"
                                                                                        name="id_bangluong">
                                                                                    <input type="hidden"
                                                                                        id="editIdNganHang"
                                                                                        name="thuyenvien_id">
                                                                                    <div class="form-group">
                                                                                        <label class="text-primary">Tên
                                                                                            ngân hàng</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-text"
                                                                                            id="editTenNganHang"
                                                                                            name="tennganhang" required>
                                                                                    </div>
                                                                                    <div class="form-group validate">
                                                                                        <label class="text-primary">Số
                                                                                            tài khoản</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-int"
                                                                                            id="editSTK" name="stk"
                                                                                            maxlength="20" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="text-primary">Tên
                                                                                            tài khoản</label>
                                                                                        <input type="text"
                                                                                            class="form-control validate-text"
                                                                                            id="editTenTaiKhoan"
                                                                                            name="tentaikhoan" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary">Cập
                                                                                        nhật</button>
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Đóng</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <table class="table table-bordered table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Mã thuyền viên</th>
                                                            <td>
                                                                <%= dataTable.thuyenvien_id %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Họ và tên</th>
                                                            <td>
                                                                <%= dataTable.thuyenvien?.hoten %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Lương cơ bản</th>
                                                            <td>
                                                                <%= formatDecimal(dataTable.luongcb) %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Hệ số quy đổi</th>
                                                            <td>
                                                                <%= formatDecimal(dataTable.tigia) %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Số ngày công</th>
                                                            <td>
                                                                <%= dataTable.socong %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Tổng tiền lương</th>
                                                            <td>
                                                                <%= formatDecimal(dataTable.tongtien) %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Tháng</th>
                                                            <td>
                                                                <%= formatTime(dataTable.thoigian) %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Ngân hàng</th>
                                                            <td>
                                                                <%= dataTable.thuyenvien?.taikhoannganhang?.tennganhang
                                                                    %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Số tài khoản</th>
                                                            <td>
                                                                <%= dataTable.thuyenvien?.taikhoannganhang?.stk %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Tên tài khoản</th>
                                                            <td>
                                                                <%= dataTable.thuyenvien?.taikhoannganhang?.tentaikhoan
                                                                    %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Phương thức tính lương</th>
                                                            <td>
                                                                <%= dataTable.phuongthuc %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Trạng thái bảng lương</th>
                                                            <td>
                                                                <%= dataTable.tinhtrang %>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%- include('partials/footer') %>

                    </div>

                </div>

                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <%- include('partials/logout-modal') %>
                    <%- include('partials/scripts', { baseUrl: '' }) %>
                        <script>
                            function openEditLuong(id, luongcb, tigia, tongtien, phuongthuc) {
                                document.getElementById('editIdLuong').value = id;
                                document.getElementById('editLuongCB').value = luongcb;
                                document.getElementById('editTiGia').value = tigia;
                                document.getElementById('editTongTien').value = tongtien;
                                document.getElementById('editPhuongThuc').value = phuongthuc;
                                $('#editModalLuong').modal('show');
                            }

                            function openEditNganHang(idluong, idnganhang, tennganhang, stk, tentaikhoan) {
                                document.getElementById('editIdLuongNH').value = idluong;
                                document.getElementById('editIdNganHang').value = idnganhang;
                                document.getElementById('editTenNganHang').value = tennganhang;
                                document.getElementById('editSTK').value = stk;
                                document.getElementById('editTenTaiKhoan').value = tentaikhoan;
                                $('#editModalNganHang').modal('show');
                            }

                            function thanhToan() {
                                return confirm('Bạn có chắc đã thanh toán chưa?');
                            }

                            function huyThanhToan() {
                                return confirm('Bạn có chắc muốn hủy thanh toán không?');
                            }

                            const urlParams = new URLSearchParams(window.location.search);
                            if (urlParams.get('updated') === 'true') {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Cập nhật thành công!',
                                    timer: 2000,
                                    showConfirmButton: false,
                                });
                            } else if (urlParams.get('pay') === 'true') {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thay đổi thành công!',
                                    timer: 2000,
                                    showConfirmButton: false,
                                });
                            } else if (urlParams.get('error')) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: urlParams.get('error'),
                                    confirmButtonText: 'Đóng'
                                });
                            }
                        </script>
                        <script src="/js/validation.js"></script>
</body>

</html>