<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

</head>
<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon logo">
                    <img src="img/logo.png" alt="PITSCO Logo" style="height: 40px;">
                </div>
            </a>
                    
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i>
                    <span>Bảng điều khiển</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <i class="fas fa-user-shield"></i>
                    <span>Danh sách tài khoản</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/crews">
                    <i class="fas fa-users"></i>
                    <span>Danh sách thuyền viên</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-file-alt"></i>
                    <span>Hồ sơ chứng chỉ</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/cer-expiring">Sắp đến hạn</a>
                        <a class="collapse-item" href="/cer-expired">Đã quá hạn</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Hợp đồng</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/con-list">Danh sách hợp đồng</a>
                        <a class="collapse-item" href="/con-expiring">Sắp đến hạn</a>
                        <a class="collapse-item" href="/con-expired">Đã quá hạn</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/payroll">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Bảng lương</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-archive"></i>
                    <span>Danh mục tài liệu</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/list-job">Danh sách chức danh</a>
                        <a class="collapse-item" href="/list-ship">Danh sách tàu</a>
                        <a class="collapse-item" href="/list-cer">Danh sách chứng chỉ</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">2+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Thông báo
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">19/3/2025</div>
                                        <span class="font-weight-bold">Có 1 hợp đồng sắp hết hạn</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">19/3/2024</div>
                                        Có 1 chứng chỉ sắp hết hạn
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user-lock mr-2 text-gray-400"></i>
                                    Quản trị viên
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tài khoản
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Chứng chỉ sắp hết hạn</h1>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3">
                                <label>Hiển thị
                                    <select id="entries" class="form-control form-control-sm d-inline-block"
                                        style="width: auto;">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> mục
                                </label>
                            </div>
                            <!-- Bộ lọc tìm kiếm -->
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="searchBox">Tìm kiếm:</label>
                                    <input type="text" id="searchBox" class="form-control"
                                        placeholder="Nhập từ khóa">
                                </div>
                                <div class="col-md-3">
                                    <label for="statusFilter">Thời gian còn lại:</label>
                                    <select id="statusFilter" class="form-control">
                                        <option value="">Tất cả</option>
                                        <option value="30" <%= dayRange === 30 ? 'selected' : '' %>>Dưới 30 ngày</option>
                                        <option value="90" <%= dayRange === 90 ? 'selected' : '' %>>Từ 30 đến 90 ngày</option>
                                        <option value="180" <%= dayRange === 180 ? 'selected' : '' %>>Trên 90 ngày</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Stt</th>
                                            <th>Tên chứng chỉ</th>
                                            <th>Thuyền viên sở hữu</th>
                                            <th>Ngày cấp</th>
                                            <th>Ngày hết hạn</th>
                                            <th>Thời gian</th>
                                            <th>Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(certificates && certificates.length > 0) { %>
                                            <% certificates.forEach((cert, index) => { %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td><%= cert.tenchungchi %></td>
                                                    <td>
                                                        <a href="/thuyen-vien/<%= cert.thuyenvien ? cert.thuyenvien.id_thuyenvien : cert.id_thuyenvien %>">
                                                            <%= cert.thuyenvien ? cert.thuyenvien.hoten : 'N/A' %> <!-- Change from tenthuyenvien to hoten -->
                                                        </a>
                                                    </td>
                                                    <td><%= new Date(cert.ngaycap).toLocaleDateString('vi-VN') %></td>
                                                    <td><%= new Date(cert.ngayhethan).toLocaleDateString('vi-VN') %></td>
                                                    <td class="<%= cert.daysRemaining <= 30 ? 'text-danger' : 'text-warning' %> font-weight-bold">
                                                        Còn <%= cert.daysRemaining %> ngày
                                                    </td>
                                                    <td>
                                                        <a href="/thuyen-vien/<%= cert.thuyenvien ? cert.thuyenvien.id_thuyenvien : cert.id_thuyenvien %>" 
                                                           class="btn btn-primary btn-sm">
                                                            Cập Nhật
                                                        </a>
                                                        <a href="/xoa-chung-chi/<%= cert.id %>/<%= cert.thuyenvien ? cert.thuyenvien.id_thuyenvien : cert.id_thuyenvien %>" 
                                                           class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Bạn có chắc chắn muốn xóa chứng chỉ này?')">
                                                            Xóa
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="7" class="text-center">Không có chứng chỉ nào sắp hết hạn</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PITSCO Crew Management System 2025 </span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <!-- Add Certificate Modal -->
    <div class="modal fade" id="addCertificateModal" tabindex="-1" role="dialog" aria-labelledby="addCertificateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCertificateModalLabel">Thêm Chứng Chỉ Mới</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="addCertificateForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addCertificateName">Tên Chứng Chỉ</label>
                            <select class="form-control" id="addCertificateName" required>
                                <option value="">Chọn chứng chỉ</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="addCrewMember">Thuyền Viên</label>
                            <select class="form-control" id="addCrewMember" required>
                                <option value="">Chọn thuyền viên</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="addIssueDate">Ngày Cấp</label>
                            <input type="date" class="form-control" id="addIssueDate" required>
                        </div>
                        <div class="form-group">
                            <label for="addExpiryDate">Ngày Hết Hạn</label>
                            <input type="date" class="form-control" id="addExpiryDate" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thêm Chứng Chỉ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Certificate Modal -->
    <div class="modal fade" id="editCertificateModal" tabindex="-1" role="dialog" aria-labelledby="editCertificateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCertificateModalLabel">Cập Nhật Chứng Chỉ</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="editCertificateForm">
                    <input type="hidden" id="editCertificateId">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editCertificateName">Tên Chứng Chỉ</label>
                            <select class="form-control" id="editCertificateName" required>
                                <option value="">Chọn chứng chỉ</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editCrewMember">Thuyền Viên</label>
                            <select class="form-control" id="editCrewMember" required>
                                <option value="">Chọn thuyền viên</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editIssueDate">Ngày Cấp</label>
                            <input type="date" class="form-control" id="editIssueDate" required>
                        </div>
                        <div class="form-group">
                            <label for="editExpiryDate">Ngày Hết Hạn</label>
                            <input type="date" class="form-control" id="editExpiryDate" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Cập Nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Certificate Modal -->
    <div class="modal fade" id="deleteCertificateModal" tabindex="-1" role="dialog" aria-labelledby="deleteCertificateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCertificateModalLabel">Xác Nhận Xóa</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa chứng chỉ này không?</div>
                <div class="modal-footer">
                    <input type="hidden" id="deleteCertificateId">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <button id="confirmDeleteBtn" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắc muốn rời đi?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/login">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/style.js"></script>

    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="js/demo/datatables-demo.js"></script>

    <!-- Add Button to open the Add Certificate Modal -->
    <script>
        $(document).ready(function() {
            // Remove the code that adds the button
            // $('.card-body .d-flex.justify-content-between.mb-3').append(
            //     '<button class="btn btn-primary" data-toggle="modal" data-target="#addCertificateModal">' +
            //     '<i class="fas fa-plus"></i> Thêm Chứng Chỉ</button>'
            // );

            // Handle Edit button clicks
            $(document).on('click', '.btn-primary:contains("Cập Nhật")', function() {
                var row = $(this).closest('tr');
                var id = row.find('td:first').text();
                var certificateName = row.find('td:nth-child(2)').text();
                var crewMember = row.find('td:nth-child(3)').text();
                var issueDate = row.find('td:nth-child(4)').text();
                var expiryDate = row.find('td:nth-child(5)').text();
                
                // Convert dates from DD/MM/YYYY to YYYY-MM-DD for input fields
                var issueDateParts = issueDate.split('/');
                var expiryDateParts = expiryDate.split('/');
                
                var formattedIssueDate = issueDateParts[2] + '-' + issueDateParts[1] + '-' + issueDateParts[0];
                var formattedExpiryDate = expiryDateParts[2] + '-' + expiryDateParts[1] + '-' + expiryDateParts[0];
                
                $('#editCertificateId').val(id);
                $('#editCertificateName').val(certificateName);
                $('#editCrewMember').val(crewMember);
                $('#editIssueDate').val(formattedIssueDate);
                $('#editExpiryDate').val(formattedExpiryDate);
                
                $('#editCertificateModal').modal('show');
            });

            // Handle Delete button clicks
            $(document).on('click', '.btn-danger:contains("Xóa")', function() {
                var row = $(this).closest('tr');
                var id = row.find('td:first').text();
                $('#deleteCertificateId').val(id);
                $('#deleteCertificateModal').modal('show');
            });

            // Handle form submissions (these would connect to your backend)
            $('#addCertificateForm').on('submit', function(e) {
                e.preventDefault();
                // Here you would make an AJAX request to create a new certificate
                alert('Đã thêm chứng chỉ thành công!');
                $('#addCertificateModal').modal('hide');
                // Reload the page or update the table
                // location.reload();
            });

            $('#editCertificateForm').on('submit', function(e) {
                e.preventDefault();
                // Here you would make an AJAX request to update the certificate
                alert('Đã cập nhật chứng chỉ thành công!');
                $('#editCertificateModal').modal('hide');
                // Reload the page or update the table
                // location.reload();
            });

            $('#confirmDeleteBtn').on('click', function() {
                // Here you would make an AJAX request to delete the certificate
                alert('Đã xóa chứng chỉ thành công!');
                $('#deleteCertificateModal').modal('hide');
                // Reload the page or update the table
                // location.reload();
            });

            // Fetch certificate and crew data for dropdowns
            // These would be actual AJAX calls to your backend
            function loadCertificateOptions() {
                // Sample data - replace with actual API call
                var certificates = [
                    { id: 1, name: 'CCNA' },
                    { id: 2, name: 'PMP' },
                    { id: 3, name: 'STCW' }
                ];
                
                var certificateSelect = $('#addCertificateName, #editCertificateName');
                certificateSelect.find('option:not(:first)').remove();
                
                certificates.forEach(function(cert) {
                    certificateSelect.append($('<option>', {
                        value: cert.id,
                        text: cert.name
                    }));
                });
            }
            
            function loadCrewOptions() {
                // Sample data - replace with actual API call
                var crewMembers = [
                    { id: 1, name: 'Nguyễn Văn A' },
                    { id: 2, name: 'Trần Thị B' },
                    { id: 3, name: 'Lê Văn C' }
                ];
                
                var crewSelect = $('#addCrewMember, #editCrewMember');
                crewSelect.find('option:not(:first)').remove();
                
                crewMembers.forEach(function(crew) {
                    crewSelect.append($('<option>', {
                        value: crew.id,
                        text: crew.name
                    }));
                });
            }
            
            // Initialize dropdowns
            loadCertificateOptions();
            loadCrewOptions();
        });
    </script>

    <script>
        $(document).ready(function() {
            // Filter by days remaining
            $('#statusFilter').change(function() {
                const days = $(this).val();
                if (days) {
                    window.location.href = '/cer-expiring?days=' + days;
                } else {
                    window.location.href = '/cer-expiring';
                }
            });
            
            // ...existing code...
        });
    </script>

</body>

</html>