<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">
    <%- include('partials/header', { title: 'Danh sách bảng lương' , baseUrl: '' }) %>


        <div id="wrapper">
            <%- include('partials/sidebar', { activeMenu: 'payroll' , baseUrl: '' }) %>

                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('partials/topbar', { baseUrl: '' }) %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Bảng Lương Thuyền Viên</h1>
                                </div>
                                <!-- Bộ lọc tháng -->
                                <div class="row align-items-end justify-content-between mb-4">
                                    <!-- Cột chọn tháng -->
                                    <div class="col-md-4 d-flex align-items-center">
                                        <form action="/danh-sach-bang-luong" method="GET"
                                            class="d-flex align-items-center">
                                            <label for="filterMonth" class="form-label fw-semibold text-primary">📅 Chọn
                                                tháng:</label>
                                            <select id="filterMonth" name="keyword"
                                                class="form-select shadow-sm border-primary"
                                                onchange="this.form.submit()">
                                                <% for(let i=0; i<dataTime.length; i++){ %>
                                                    <option value="<%= dataTime[i] %>" <%=keyword===dataTime[i]
                                                        ? 'selected' : '' %>
                                                        >
                                                        Tháng <%=dataTime[i] %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </form>
                                    </div>
                                </div>

                                <!-- Tab nút -->
                                <ul class="nav nav-tabs mb-3" id="mainTabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a href="/danh-sach-thuyen-vien-luong" class="nav-link" id="crew-tab"
                                            data-bs-toggle="tab" data-bs-target="#crew" type="button" role="tab">
                                            Thuyền viên đang trên tàu
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="/danh-sach-bang-luong" class="nav-link active" id="salary-tab"
                                            data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab">
                                            Bảng lương
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab nội dung -->
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="crew" role="tabpanel">Nội dung thuyền viên...</div>
                                    <div class="tab-pane fade show active" id="salary" role="tabpanel">
                                        <div class="card shadow">
                                            <div
                                                class="card-header py-3 d-flex justify-content-between align-items-center">
                                                <h6 class="m-0 font-weight-bold text-primary">Danh sách bảng lương</h6>

                                                <!-- Bọc 2 nút trong một div để căn phải -->
                                                <div>
                                                    <form method="GET" action="/export-bang-luong">
                                                        <input type="hidden" name="time" value="<%= keyword %>">
                                                        <button class="btn btn-primary btn-sm me-2" type="submit">Xuất
                                                            bảng lương</button>
                                                    </form>

                                                    <button class="btn btn-danger btn-sm" onclick="xoaBangLuong()">Xoá
                                                        bảng
                                                        lương</button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered text-center" id="dataTable1">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th><input type="checkbox" id="selectAll"
                                                                        onclick="chonTatCa(this)">
                                                                </th>
                                                                <th>Mã thuyền viên</th>
                                                                <th>Tên tài khoản</th>
                                                                <th>Số tài khoản</th>
                                                                <th>Ngân hàng</th>
                                                                <th>Số tiền</th>
                                                                <th>Tháng</th>
                                                                <th>Trạng thái</th>
                                                                <th>Thao Tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="salaryTable">
                                                            <% for(let i=0; i<dataTable.length; i++){ %>
                                                                <tr onclick="chonDong(this, event)">
                                                                    <td><input type="checkbox" class="row-checkbox"
                                                                            data-id="<%= dataTable[i].id_bangluong %>">
                                                                    </td>
                                                                    <td>
                                                                        <%= dataTable[i].thuyenvien_id %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= dataTable[i].thuyenvien?.taikhoannganhang?.tentaikhoan
                                                                            %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= dataTable[i].thuyenvien?.taikhoannganhang?.stk
                                                                            %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= dataTable[i].thuyenvien?.taikhoannganhang?.tennganhang
                                                                            %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= formatDecimal(dataTable[i].tongtien) %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= formatTime(dataTable[i].thoigian) %>
                                                                    </td>
                                                                    <td class="ten">
                                                                        <%= dataTable[i].tinhtrang %>
                                                                    </td>
                                                                    <td>
                                                                        <form method="GET"
                                                                            action="/bang-luong-chi-tiet">
                                                                            <input type="hidden" name="bangluong_id"
                                                                                value="<%= dataTable[i].id_bangluong %>">
                                                                            <button class="btn btn-primary btn-sm"
                                                                                type="submit">Xem
                                                                                chi tiết</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                    </div>

                    <%- include('partials/footer') %>

                </div>

        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <%- include('partials/logout-modal') %>
            <%- include('partials/scripts', { baseUrl: '' }) %>
                <script>
                    function xoaBangLuong() {
                        // lấy tất cả checkbox đang check
                        const checkboxes = document.querySelectorAll('.row-checkbox:checked');
                        const ids = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));

                        if (ids.length === 0) {
                            alert('Vui lòng chọn ít nhất một bảng lương để xóa!');
                            return;
                        }

                        // xác nhận
                        if (!confirm('Bạn có chắc muốn xóa các bảng lương đã chọn?')) {
                            return;
                        }

                        // gửi danh sách id bằng POST request
                        fetch('/delete-bangluong', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            },
                            body: JSON.stringify({ id: ids }) // id là mảng
                        })
                            .then(res => {
                                if (res.redirected) {
                                    window.location.href = res.url;
                                } else {
                                    return res.json();
                                }
                            })
                            .catch(err => {
                                console.error(err);
                                alert('Có lỗi xảy ra khi xóa.');
                            });
                    }

                    $('#dataTable1').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                        // "dom": 'lrtip', // Hide default search box
                        "language": {
                            "search": "Tìm kiếm:",
                            "lengthMenu": "Hiển thị _MENU_ mục",
                            "info": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                            "infoEmpty": "Hiển thị 0 đến 0 của 0 mục",
                            "paginate": {
                                "first": "Đầu",
                                "last": "Cuối",
                                "next": "Sau",
                                "previous": "Trước"
                            }
                        }
                    });
                </script>

</body>

</html>