<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">
    <%- include('partials/header', { title: 'Danh sách chức vụ' , baseUrl: '' }) %>

        <div id="wrapper">

            <%- include('partials/sidebar', { activeMenu: 'documents' , baseUrl: '' }) %>

                <div id="content-wrapper" class="d-flex flex-column">

                    <div id="content">

                        <%- include('partials/topbar', { baseUrl: '' }) %>

                            <div class="container-fluid">

                                <h1 class="h3 mb-2 text-gray-800">Danh sách chức danh</h1>
                                <div class="card shadow mt-3">
                                    <div
                                        class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                                        <h5 class="m-0">Chức danh</h5>
                                        <div>
                                            <button class="btn btn-light btn-sm" onclick="xoaChon()">Xóa chức danh</button>
                                            <button class="btn btn-light btn-sm" onclick="themChucVu()">Thêm chức danh</button>
                                            <!-- Modal Thêm chức vụ -->
                                            <div class="modal fade" id="modalThemChucVu" tabindex="-1" role="dialog"
                                                aria-labelledby="modalLabelThem" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-primary" id="modalLabelThem">
                                                                Thêm chức vụ
                                                                mới</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="formThemChucVu" action="/post-chucvu"
                                                                method="POST">
                                                                <div class="form-group">
                                                                    <label for="tenChucVu" class="text-primary">Tên chức vụ</label>
                                                                    <input type="text" class="form-control"
                                                                        id="tenChucVu" name="tenchucvu" required>
                                                                    <label for="tenChungChi" class="text-primary">Chọn chứng chỉ</label>
                                                                    <% for(let i=0; i<dataChungChi.length; i++){ %>
                                                                        <div>
                                                                            <label class="ten">
                                                                                <input type="checkbox" name="chungchi_id[]" value="<%= dataChungChi[i].id_chungchi %>">
                                                                                <%= dataChungChi[i].tenchungchi %>
                                                                            </label>
                                                                        </div>
                                                                    <% } %>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Lưu</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable1">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%;"><input type="checkbox" id="checkAll"
                                                                onclick="chonTatCa(this)"></th>
                                                        <th style="width: 10%;">STT</th>
                                                        <th>Tên chức danh</th>
                                                        <th style="width: 20%;">Hành động</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="danhSach">
                                                    <% for(let i=0; i<dataTable.length; i++){ %>
                                                        <tr onclick="chonDong(this, event)">
                                                            <td><input type="checkbox" class="row-checkbox"
                                                                    data-id="<%= dataTable[i].id_chucvu %>"></td>
                                                            <td>
                                                                <%= dataTable[i].id_chucvu %>
                                                            </td>
                                                            <td class="ten">
                                                                <%= dataTable[i].tenchucvu %>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary btn-sm"
                                                                    onclick="openEditModal('<%= dataTable[i].id_chucvu %>', '<%= dataTable[i].tenchucvu %>')">
                                                                    Sửa
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                            <!-- Modal edit -->
                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <form id="editChucVuForm" action="/put-chucvu" method="POST">

                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Sửa chức vụ</h5>
                                                                <button type="button" class="close"
                                                                    data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden" id="editId" name="id_chucvu">
                                                                <div class="form-group">
                                                                    <label>Tên chức vụ</label>
                                                                    <input type="text" class="form-control"
                                                                        id="editTenChucVu" name="tenchucvu" required>
                                                                    <label>Chọn chứng chỉ</label>
                                                                    <% for(let i=0; i<dataChungChi.length; i++){ %>
                                                                        <div>
                                                                            <label class="ten">
                                                                                <input type="checkbox" name="chungchi_id" value="<%= dataChungChi[i].id_chungchi %>">
                                                                                <%= dataChungChi[i].tenchungchi %>
                                                                            </label>
                                                                        </div>
                                                                    <% } %>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit"
                                                                    class="btn btn-primary">Lưu</button>
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                    </div>

                    <%- include('partials/footer') %>

                </div>

        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <%- include('partials/logout-modal') %>
            <%- include('partials/scripts', { baseUrl: '' }) %>

                <script>
                    function themChucVu() {
                        $('#modalThemChucVu').modal('show');
                    }

                    function openEditModal(id, ten) {
                        document.getElementById('editId').value = id;
                        document.getElementById('editTenChucVu').value = ten;
                        $('#editModal').modal('show');
                    }

                    function xoaChon() {
                        const checkboxes = document.querySelectorAll('.row-checkbox:checked');
                        const ids = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));

                        if (ids.length === 0) {
                            alert('Vui lòng chọn ít nhất một chức vụ để xóa!');
                            return;
                        }

                        if (!confirm('Bạn có chắc muốn xóa các chức vụ đã chọn?')) {
                            return;
                        }

                        fetch('/delete-chucvu', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            },
                            body: JSON.stringify({ id: ids }) 
                        })
                            .then(res => {
                                if (res.redirected) {
                                    window.location.href = res.url;
                                } else {
                                    return res.json();
                                }
                            })
                            .catch(err => {
                                console.error(err);
                                alert('Có lỗi xảy ra khi xóa.');
                            });
                    }
                    $('#dataTable1').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                        "language": {
                            "search": "Tìm kiếm:",
                            "lengthMenu": "Hiển thị _MENU_ mục",
                            "info": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                            "infoEmpty": "Hiển thị 0 đến 0 của 0 mục",
                            "paginate": {
                                "first": "Đầu",
                                "last": "Cuối",
                                "next": "Sau",
                                "previous": "Trước"
                            }
                        }
                    });

                </script>

                

</body>

</html>