<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">
    <%- include('partials/header', { title: 'Danh sách chứng chỉ' , baseUrl: '' }) %>

        <div id="wrapper">

            <%- include('partials/sidebar', { activeMenu: 'users' , baseUrl: '' }) %>

                <div id="content-wrapper" class="d-flex flex-column">

                    <div id="content">

                        <%- include('partials/topbar', { baseUrl: '' }) %>

                            <div class="container-fluid">

                                <div class="container mt-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <div class="card shadow">
                                                <div class="card-header bg-primary text-white">
                                                    <h5 class="mb-0">Đổi mật khẩu</h5>
                                                </div>
                                                <div class="card-body">
                                                    <% if (errors.length> 0) { %>
                                                        <div class="alert alert-danger">
                                                            <ul class="mb-0">
                                                                <% errors.forEach(error=> { %>
                                                                    <li>
                                                                        <%= error %>
                                                                    </li>
                                                                    <% }) %>
                                                            </ul>
                                                        </div>
                                                        <% } %>

                                                            <% if (success) { %>
                                                                <div class="alert alert-success">
                                                                    <%= success %>
                                                                </div>
                                                                <% } %>

                                                                    <form method="POST" action="/doi-mat-khau">
                                                                        <div class="form-group">
                                                                            <label for="currentPassword">Mật khẩu hiện
                                                                                tại</label>
                                                                            <input type="password" class="form-control"
                                                                                id="currentPassword"
                                                                                name="currentPassword" required>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="newPassword">Mật khẩu
                                                                                mới</label>
                                                                            <input type="password" class="form-control"
                                                                                id="newPassword" name="newPassword"
                                                                                required>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="confirmPassword">Xác nhận mật
                                                                                khẩu mới</label>
                                                                            <input type="password" class="form-control"
                                                                                id="confirmPassword"
                                                                                name="confirmPassword" required>
                                                                        </div>

                                                                        <button type="submit"
                                                                            class="btn btn-primary btn-block">Đổi mật
                                                                            khẩu</button>
                                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                    </div>

                    <%- include('partials/footer') %>

                </div>

        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <%- include('partials/logout-modal') %>
            <%- include('partials/scripts', { baseUrl: '' }) %>

</body>

</html>