<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITSCO Crew Management System - Users</title>

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon logo">
                    <img src="/img/logo.png" alt="PITSCO Logo" style="height: 40px;">
                </div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i>
                    <span>Bảng điều khiển</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">
                    <i class="fas fa-user-shield"></i>
                    <span>Danh sách tài khoản</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/crews">
                    <i class="fas fa-users"></i>
                    <span>Danh sách thuyền viên</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-file-alt"></i>
                    <span>Hồ sơ chứng chỉ</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/cer-expiring">Sắp đến hạn</a>
                        <a class="collapse-item" href="/cer-expired">Đã quá hạn</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Hợp đồng</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/con-list">Danh sách hợp đồng</a>
                        <a class="collapse-item" href="/con-expiring">Sắp đến hạn</a>
                        <a class="collapse-item" href="/con-expired">Đã quá hạn</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/payroll">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Bảng lương</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-archive"></i>
                    <span>Danh mục tài liệu</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/list-job">Danh sách chức danh</a>
                        <a class="collapse-item" href="/list-ship">Danh sách tàu</a>
                        <a class="collapse-item" href="/list-cer">Danh sách chứng chỉ</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">2+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Thông báo
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">19/3/2025</div>
                                        <span class="font-weight-bold">Có 1 hợp đồng sắp hết hạn</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">19/3/2024</div>
                                        Có 1 chứng chỉ sắp hết hạn
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user-lock mr-2 text-gray-400"></i>
                                    Quản trị viên
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tài khoản
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Thông tin thuyền viên</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-file-export fa-sm text-white-50"></i> Xuất thông tin
                        </a>
                    </div>

                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="crewTabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal-info" role="tab">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="family-tab" data-toggle="tab" href="#family-info" role="tab">Thông tin gia đình</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" href="#education-info" role="tab">Học vấn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="language-tab" data-toggle="tab" href="#language-certificates" role="tab">Chứng chỉ ngoại ngữ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="certificates-tab" data-toggle="tab" href="#crew-certificates" role="tab">Chứng chỉ thuyền viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="history-tab" data-toggle="tab" href="#sailing-history" role="tab">Lịch sử đi tàu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="attachments-tab" data-toggle="tab" href="#crew-attachments" role="tab">Tài liệu đính kèm</a>
                        </li>
                    </ul>

                    <!-- Nội dung tab sẽ được load vào đây -->
                    <div class="tab-content mt-3">
                        <!-- Personal Info Tab -->
                        <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Ảnh thuyền viên & trạng thái -->
                                        <div class="col-md-3 text-center">
                                            <img src="/img/crew_test1.jpg" alt="Ảnh thuyền viên" class="crew-photo mb-2">
                                            <h5 class="fw-bold"><%= thuyenvieninfo.hoten %></h5>
                                            <p class="text-muted">Chức vụ: test</p>
                                            <p class="status active">Đang trên tàu</p>
                                            <!-- Nút cập nhật -->
                                            <div class="text-center mt-4">
                                                <button type="button" class="btn btn-primary btn-lg" id="btnUpdate"
                                                    data-toggle="modal" data-target="#updateModal">
                                                    Cập nhật trạng thái
                                                </button>
                                            </div>
                                        </div>

                                        <!-- Thông tin cá nhân -->
                                        <div class="col-md-9">
                                            <h5 class="text-primary d-inline-block">Thông tin cá nhân</h5>
                                            <a href="#" class="ml-2" data-toggle="modal" data-target="#editModal">
                                                <i class="fas fa-edit text-primary" style="font-size: 20px;"></i>
                                            </a>
                                            <ul class="list-group mb-3">
                                                <li class="list-group-item"><strong>Họ và tên:</strong> <span
                                                        id="fullName"><%= thuyenvieninfo.hoten %></span></li>
                                                <li class="list-group-item"><strong>Ngày sinh:</strong> <span
                                                        id="dob"><%= thuyenvieninfo.ngaysinh %></span></li>
                                                <li class="list-group-item"><strong>CCCD:</strong> <span
                                                        id="idNumber"><%= thuyenvieninfo.cccd %></span></li>
                                                <li class="list-group-item"><strong>Chiều cao:</strong> <span
                                                        id="height"><%= thuyenvieninfo.chieucao %> cm</span></li>
                                                <li class="list-group-item"><strong>Cân nặng:</strong> <span
                                                        id="weight"><%= thuyenvieninfo.cannang %> kg</span></li>
                                                <li class="list-group-item"><strong>Nhóm máu:</strong> <span
                                                        id="bloodType"><%= thuyenvieninfo.nhommau %></span></li>
                                                <li class="list-group-item"><strong>Size giày:</strong> <span
                                                        id="shoeSize"><%= thuyenvieninfo.sizegiay %></span></li>
                                                <li class="list-group-item"><strong>Size giày bảo hộ:</strong> <span
                                                        id="safetyShoeSize"><%= thuyenvieninfo.sizegiaybaoho %></span></li>
                                                <li class="list-group-item"><strong>Email:</strong> <span
                                                        id="email"><%= thuyenvieninfo.email %></span></li>
                                                <li class="list-group-item"><strong>Số điện thoại:</strong> <span
                                                        id="phone"><%= thuyenvieninfo.sodienthoai %></span></li>
                                                <li class="list-group-item"><strong>Tình trạng hôn nhân:</strong> <span
                                                        id="maritalStatus"><%= thuyenvieninfo.tinhtranghonnhan %></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Family Info Tab -->
                        <div class="tab-pane fade" id="family-info" role="tabpanel" aria-labelledby="family-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary d-inline-block">Thông tin gia đình</h5>
                                    <a href="#" class="ml-2" data-toggle="modal" data-target="#editFamilyModal">
                                        <i class="fas fa-edit text-primary" style="font-size: 20px;"></i>
                                    </a>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item"><strong>Họ tên bố:</strong> <span><%= nhanthanthuyenvieninfo.hotenbo %></span></li>
                                        <li class="list-group-item"><strong>Số điện thoại bố:</strong> <span><%= nhanthanthuyenvieninfo.sdtbo %></span></li>
                                        <li class="list-group-item"><strong>Họ tên mẹ:</strong> <span><%= nhanthanthuyenvieninfo.hotenme %></span></li>
                                        <li class="list-group-item"><strong>Số điện thoại mẹ:</strong> <span><%= nhanthanthuyenvieninfo.sdtme %></span></li>
                                        <li class="list-group-item"><strong>Họ tên vợ:</strong> <span><%= nhanthanthuyenvieninfo.hotenvo %></span></li>
                                        <li class="list-group-item"><strong>Số điện thoại vợ:</strong> <span><%= nhanthanthuyenvieninfo.sdtvo %></span></li>
                                        <li class="list-group-item"><strong>Họ tên người giám hộ:</strong> <span><%= nhanthanthuyenvieninfo.nguoigiamho %></span></li>
                                        <li class="list-group-item"><strong>Số điện thoại người giám hộ:</strong> <span><%= nhanthanthuyenvieninfo.sdtgiamho %></span></li>
                                        <li class="list-group-item"><strong>Địa chỉ:</strong> <span><%= nhanthanthuyenvieninfo.diachi %></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Education Info Tab -->
                        <div class="tab-pane fade" id="education-info" role="tabpanel" aria-labelledby="education-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary">Thông tin học vấn</h5>
                                    <p class="text-muted">Nội dung thông tin học vấn sẽ được hiển thị ở đây.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Language Certificates Tab -->
                        <div class="tab-pane fade" id="language-certificates" role="tabpanel" aria-labelledby="language-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary">Chứng chỉ ngoại ngữ</h5>
                                    <p class="text-muted">Nội dung chứng chỉ ngoại ngữ sẽ được hiển thị ở đây.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Crew Certificates Tab -->
                        <div class="tab-pane fade" id="crew-certificates" role="tabpanel" aria-labelledby="certificates-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary">Chứng chỉ thuyền viên</h5>
                                    <p class="text-muted">Nội dung chứng chỉ thuyền viên sẽ được hiển thị ở đây.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Sailing History Tab -->
                        <div class="tab-pane fade" id="sailing-history" role="tabpanel" aria-labelledby="history-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary">Lịch sử đi tàu</h5>
                                    <p class="text-muted">Nội dung lịch sử đi tàu sẽ được hiển thị ở đây.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Attachments Tab -->
                        <div class="tab-pane fade" id="crew-attachments" role="tabpanel" aria-labelledby="attachments-tab">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h5 class="text-primary">Tài liệu đính kèm</h5>
                                    <p class="text-muted">Nội dung tài liệu đính kèm sẽ được hiển thị ở đây.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODAL POPUP CẬP NHẬT THÔNG TIN -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Cập nhật thông tin cá nhân</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="updateForm" action="/cap-nhat-thuyen-vien/<%= thuyenvieninfo.id_thuyenvien %>" method="POST">
                                        <div class="form-group text-center">
                                            <label>Ảnh đại diện:</label>
                                            <br>
                                            <img id="previewImage" src="/img/crew_test1.jpg" class="img-thumbnail mb-2"
                                                width="150">
                                            <input type="file" class="form-control-file" id="inputPhoto"
                                                accept="image/*">
                                        </div>

                                        <div class="form-group">
                                            <label>Họ và tên:</label>
                                            <input type="text" class="form-control" id="inputFullName" name="hoten" value="<%= thuyenvieninfo.hoten %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh:</label>
                                            <input type="date" class="form-control" id="inputDob" name="ngaysinh" value="<%= thuyenvieninfo.ngaysinh %>">
                                        </div>
                                        <div class="form-group">
                                            <label>CCCD:</label>
                                            <input type="text" class="form-control" id="inputIdNumber" name="cccd" value="<%= thuyenvieninfo.cccd %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Chiều cao:</label>
                                            <input type="text" class="form-control" id="inputHeight" name="chieucao" value="<%= thuyenvieninfo.chieucao %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Cân nặng:</label>
                                            <input type="text" class="form-control" id="inputWeight" name="cannang" value="<%= thuyenvieninfo.cannang %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Nhóm máu:</label>
                                            <select class="form-control" id="inputBloodType" name="nhommau" value="<%= thuyenvieninfo.nhommau %>">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="AB">AB</option>
                                                <option value="O">O</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Size giày:</label>
                                            <input type="text" class="form-control" id="inputShoeSize" name="sizegiay" value="<%= thuyenvieninfo.sizegiay %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Size giày bảo hộ:</label>
                                            <input type="text" class="form-control" id="inputSafetyShoeSize" name="sizegiaybaoho" value="<%= thuyenvieninfo.sizegiaybaoho %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="email" class="form-control" id="inputEmail" name="email" value="<%= thuyenvieninfo.email %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại:</label>
                                            <input type="text" class="form-control" id="inputPhone" name="sodienthoai" value="<%= thuyenvieninfo.sodienthoai %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Tình trạng hôn nhân:</label>
                                            <select class="form-control" id="inputMaritalStatus" name="tinhtranghonnhan" value="<%= thuyenvieninfo.tinhtranghonnhan %>">
                                                <option value="Độc thân">Độc thân</option>
                                                <option value="Đã kết hôn">Đã kết hôn</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary" id="saveChanges" form="updateForm">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODAL POPUP CẬP NHẬT THÔNG TIN GIA ĐÌNH -->
                    <div class="modal fade" id="editFamilyModal" tabindex="-1" role="dialog" aria-labelledby="editFamilyModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editFamilyModalLabel">Cập nhật thông tin gia đình</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="updateFamilyForm" action="/cap-nhat-than-nhan/<%= thuyenvieninfo.id_thuyenvien %>" method="POST">
                                        <div class="form-group">
                                            <label>Họ tên bố:</label>
                                            <input type="text" class="form-control" id="inputFatherName" name="hotenbo" value="<%= nhanthanthuyenvieninfo.hotenbo %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại bố:</label>
                                            <input type="text" class="form-control" id="inputFatherPhone" name="sdtbo" value="<%= nhanthanthuyenvieninfo.sdtbo %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Họ tên mẹ:</label>
                                            <input type="text" class="form-control" id="inputMotherName" name="hotenme" value="<%= nhanthanthuyenvieninfo.hotenme %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại mẹ:</label>
                                            <input type="text" class="form-control" id="inputMotherPhone" name="sdtme" value="<%= nhanthanthuyenvieninfo.sdtme %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Họ tên vợ/chồng:</label>
                                            <input type="text" class="form-control" id="inputSpouseName" name="hotenvo" value="<%= nhanthanthuyenvieninfo.hotenvo %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại vợ/chồng:</label>
                                            <input type="text" class="form-control" id="inputSpousePhone" name="sdtvo" value="<%= nhanthanthuyenvieninfo.sdtvo %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Họ tên người giám hộ:</label>
                                            <input type="text" class="form-control" id="inputGuardianName" name="nguoigiamho" value="<%= nhanthanthuyenvieninfo.nguoigiamho %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại người giám hộ:</label>
                                            <input type="text" class="form-control" id="inputGuardianPhone" name="sdtgiamho" value="<%= nhanthanthuyenvieninfo.sdtgiamho %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ:</label>
                                            <textarea class="form-control" id="inputAddress" name="diachi" rows="3"><%= nhanthanthuyenvieninfo.diachi %></textarea>
                                        </div>
                                        <input type="hidden" name="thuyenvien_id" value="<%= thuyenvieninfo.id_thuyenvien %>">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary" id="saveFamilyChanges" form="updateFamilyForm">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PITSCO Crew Management System 2025 </span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắc muốn rời đi?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/login">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('status').addEventListener('change', function () {
            var waitingFields = document.getElementById('waitingFields');
            var workingFields = document.getElementById('workingFields');
            var ashoreFields = document.getElementById('ashoreFields');

            // Reset all
            waitingFields.style.display = 'none';
            workingFields.style.display = 'none';
            ashoreFields.style.display = 'none';

            if (this.value === 'Đang chờ tàu') {
                waitingFields.style.display = 'block';
            } else if (this.value === 'Đang làm việc trên tàu') {
                workingFields.style.display = 'block';
            } else if (this.value === 'Đang trên bờ') {
                ashoreFields.style.display = 'block';
            }
        });
    </script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/js/style.js"></script>

    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/js/demo/datatables-demo.js"></script>

    <script>
        // Tab functionality
        $(document).ready(function() {
            // Enable Bootstrap tabs
            $('#crewTabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            
            // Load tab content via AJAX if needed
            $('#crewTabs a').on('shown.bs.tab', function (e) {
                var targetId = $(e.target).attr('href');
                console.log('Tab switched to: ' + targetId);
                
                // Here you can add AJAX calls to load content dynamically if needed
                // Example:
                // if (targetId === '#sailing-history') {
                //     $.ajax({
                //         url: '/api/crew-sailing-history/' + crewId,
                //         success: function(data) {
                //             $(targetId).html(data);
                //         }
                //     });
                // }
            });
        });
    </script>
</body>

</html>
``` 