<%- include('../partials/header', { title: title || 'Dashboard', baseUrl: baseUrl || '' }) %>

<div id="wrapper">
    <%- include('../partials/sidebar', { activeMenu: activeMenu || 'dashboard', baseUrl: baseUrl || '' }) %>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <%- include('../partials/topbar', { baseUrl: baseUrl || '' }) %>

            <div class="container-fluid">
                <%- content %>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include('../partials/logout-modal') %>
<%- include('../partials/scripts', { baseUrl: baseUrl || '' }) %>

<%- additionalScripts || '' %>
</body>
</html>
